<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head', {title: "G2_TEST"}); %>
	<body>
		<%- include("layouts/navbar"); %>
		<section class="container"><%- include('layouts/message'); %></section>

		<section>
			<div class="row">
				<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
					<% if (displayForm) { %>
					<form class="p-3 shadow bg-white" method="POST">
						<h4 class="text-decoration-underline mb-4">G2 - Driving Ontario</h4>

						<fieldset>
							<legend class="fs-6 text-decoration-underline">User information</legend>
							<div class="mb-3">
								<label for="firstName" class="form-label">First name</label>
								<input type="text" class="form-control form-control-sm" id="firstName" name="firstName" />
							</div>

							<div class="mb-3">
								<label for="lastName" class="form-label">Last name</label>
								<input type="text" class="form-control form-control-sm" id="lastName" name="lastName" />
							</div>

							<div class="mb-3">
								<label for="licenseNumber" class="form-label">License number</label>
								<input type="text" class="form-control form-control-sm" minlength="8" maxlength="8" id="licenseNumber" name="licenseNumber" />
							</div>

							<div class="mb-3">
								<label for="age" class="form-label">Age</label>
								<input type="number" class="form-control form-control-sm" id="age" name="age" />
							</div>
						</fieldset>
						<hr />

						<fieldset>
							<legend class="fs-6 text-decoration-underline">Car details</legend>
							<div class="mb-3">
								<label for="make" class="form-label">Make</label>
								<input type="text" class="form-control form-control-sm" id="make" name="make" />
							</div>

							<div class="mb-3">
								<label for="model" class="form-label">Model</label>
								<input type="text" class="form-control form-control-sm" id="model" name="model" />
							</div>

							<div class="mb-3">
								<label for="year" class="form-label">Year</label>
								<input type="number" class="form-control form-control-sm" id="year" name="year" min="2000" max="2023" />
							</div>

							<div class="mb-3">
								<label for="platNumber" class="form-label">Plat Number</label>
								<input type="text" class="form-control form-control-sm" id="platNumber" name="platNumber" />
							</div>
						</fieldset>

						<button type="submit" class="btn btn-sm btn-dark">Submit Request</button>
						<p class="mt-2">This page is under construction!</p>
					</form>
					<% } else { %>
					<!-- Display data -->
					<div>
						<div>
							<h3>User Details</h3>
							<p>First name: <%= firstName %></p>
							<p>Last name: <%= lastName %></p>
							<p>License number: <%= licenseNumber %></p>
							<p>Age: <%= age %></p>
						</div>

						<div>
							<h3>Car details</h3>
							<p>Make: <%= carDetails.make %></p>
							<p>Model: <%= carDetails.model %></p>
							<p>Year: <%= carDetails.year %></p>
							<p>Plat number: <%= carDetails.platNumber %></p>
						</div>

						<div>
							<!-- form to book an appointment -->
							<form class="p-3 shadow bg-white" method="POST" action="/appointment-booking">
								<h4 class="text-decoration-underline mb-4">Book an appointment</h4>

								<fieldset>
									<div class="mb-3">
										<label for="date" class="form-label">Date</label>
										<input type="date" class="form-control form-control-sm" id="date" name="date" required />
									</div>

									<select id="times" name="times" class="form-select" required></select>
								</fieldset>

								<button type="submit" class="btn btn-sm btn-dark">Submit Request</button>
								<p class="mt-2">This page is under construction!</p>
							</form>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</section>

		<%- include("layouts/footer"); %> <%- include('layouts/scripts'); %>

		<script>
			const timeSlots = JSON.parse(`<%- timeSlots %>`);

			const timesElement = document.getElementById("times");

			const dateElement = document.getElementById("date");
			dateElement.onchange = () => {
				timesElement.innerHTML = "";
				let html = "";
				for (let i = 0; i < timeSlots.length; i++) {
					html += `<option value="${timeSlots[i].time}">${timeSlots[i].time}</option>`;
				}
				timesElement.innerHTML = html;
			};
		</script>
	</body>
</html>
