<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head', {title: "G2_TEST"}); %>

	<body>
		<%- include("layouts/navbar"); %>

		<section>
			<div class="row">
				<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
					<% if (displayForm) { %>
					<form class="p-3 shadow bg-white" method="POST">
						<h4 class="text-decoration-underline mb-4">G2 - Driving Ontario</h4>

						<fieldset>
							<legend class="fs-6 text-decoration-underline">User information</legend>
							<div class="mb-3">
								<label for="firstName" class="form-label">First name</label>
								<input type="text" class="form-control form-control-sm" id="firstName" name="firstName" />
							</div>

							<div class="mb-3">
								<label for="lastName" class="form-label">Last name</label>
								<input type="text" class="form-control form-control-sm" id="lastName" name="lastName" />
							</div>

							<div class="mb-3">
								<label for="licenseNumber" class="form-label">License number</label>
								<input type="text" class="form-control form-control-sm" minlength="8" maxlength="8" id="licenseNumber" name="licenseNumber" />
							</div>

							<div class="mb-3">
								<label for="age" class="form-label">Age</label>
								<input type="number" class="form-control form-control-sm" id="age" name="age" />
							</div>
						</fieldset>
						<hr />

						<fieldset>
							<legend class="fs-6 text-decoration-underline">Car details</legend>
							<div class="mb-3">
								<label for="make" class="form-label">Make</label>
								<input type="text" class="form-control form-control-sm" id="make" name="make" />
							</div>

							<div class="mb-3">
								<label for="model" class="form-label">Model</label>
								<input type="text" class="form-control form-control-sm" id="model" name="model" />
							</div>

							<div class="mb-3">
								<label for="year" class="form-label">Year</label>
								<input type="number" class="form-control form-control-sm" id="year" name="year" min="2000" max="2023" />
							</div>

							<div class="mb-3">
								<label for="platNumber" class="form-label">Plat Number</label>
								<input type="text" class="form-control form-control-sm" id="platNumber" name="platNumber" />
							</div>
						</fieldset>

						<button type="submit" class="btn btn-sm btn-dark">Submit Request</button>
						<p class="mt-2">This page is under construction!</p>
					</form>
					<% } else { %>
					<!-- Display data -->
					<h3>User Details</h3>
					<p>First name: <%= firstName %></p>
					<p>Last name: <%= lastName %></p>
					<p>License number: <%= licenseNumber %></p>
					<p>Age: <%= age %></p>

					<h3>Car details</h3>
					<p>Make: <%= carDetails.make %></p>
					<p>Model: <%= carDetails.model %></p>
					<p>Year: <%= carDetails.year %></p>
					<p>Plat number: <%= carDetails.platNumber %></p>
					<% } %>
				</div>
			</div>
		</section>

		<%- include("layouts/footer"); %> <%- include('layouts/scripts'); %>
	</body>
</html>
