<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head', {title: "Login"}); %>

	<body>
		<%- include("layouts/navbar"); %>

		<section class="container"><%- include('layouts/message'); %></section>
		<section class="container">Data saved!</section>

		<%- include("layouts/footer"); %> <%- include('layouts/scripts'); %>
	</body>
</html>
